.two-input-field-range {
	display: flex;
	justify-content: space-between;
	align-items: start;
	gap: 3em;
}

.two-input-field-range.range {
	justify-content: normal;
}

.dropdown.pay {
	gap: 0;
	flex: 1;
}

.two-input-field-pay.range {
	display: flex;
}

.two-input-field-pay {
	display: none;
	align-items: center;
	column-gap: 1rem;
	flex: 1;
}

.two-input-field-range.range .two-input-field-pay .input-field.range {
	width: 100%;
}
