@{
    ViewData["Title"] = "Home Page";
}

<section class="site-homepage">
	<div class="container-wrap">
		<h2>Explore Opportunities</h2>
		<h2>DevHunter Awaits You.</h2>
		<p>A successful business needs a qualified team of people</p>
		<div class="section-search-job">
			<div class="input-container">
				<i class="search-icon fa-solid fa-magnifying-glass"></i>
				<input placeholder="Find Your Dream Job here..." type="text" />
				<i class="enter-icon fa-solid fa-arrow-right"></i>
			</div>
		</div>
	</div>
</section>

<section class="homepage-categories">
	<div class="inner">
		<div class="container">
			<div id="section-category-block" class="section-category-block">
				<div class="category-block color-back-end-development border-bottom">
					<a class="section-collapse collapsed">
						<img src="~/svgs/arrow-right-blue.svg" alt="Collapse section">
					</a>
					<div class="category-block-title-holder">
						<a class="category-name" href="#">
							Backend Development
							<span class="job-qty">826</span>
						</a>
					</div>
					<div class="child-term">
						<a href="#">
							<div class="term-icon icon-java"></div>
							Java
							<span class="child-qty">237</span>
						</a>
					</div>
					<div class="child-term">
						<a href="#">
							<div class="term-icon icon-dotnet"></div>
							.NET
							<span class="child-qty">158</span>
						</a>
					</div>
					<div class="child-term">
						<a href="#">
							<div class="term-icon icon-php"></div>
							PHP
							<span class="child-qty">99</span>
						</a>
					</div>
					<div class="child-term">
						<a href="#">
							<div class="term-icon icon-cpp"></div>
							C/C++/Embedded
							<span class="child-qty">114</span>
						</a>
					</div>
					<div class="child-term">
						<a href="#">
							<div class="term-icon icon-python"></div>
							Python
							<span class="child-qty">84</span>
						</a>
					</div>
					<div class="child-term">
						<a href="#">
							<div class="term-icon icon-ruby"></div>
							Ruby
							<span class="child-qty">6</span>
						</a>
					</div>
					<div class="child-term">
						<a href="#">
							<div class="term-icon icon-golang"></div>
							Go
							<span class="child-qty">20</span>
						</a>
					</div>
					<div class="child-term">
						<a href="#">
							<div class="term-icon icon-nodejs"></div>
							Node.js
							<span class="child-qty">69</span>
						</a>
					</div>
					<div class="mt-25 w-100">
						<a class="show-all-jobs-cat" href="#">See all</a>
					</div>
				</div>
				<div class="category-block color-infrastructure border-bottom">
					<a class="section-collapse collapsed">
						<img src="~/svgs/arrow-right-blue.svg" alt="Collapse section">
					</a>
					<div class="category-block-title-holder">
						<a class="category-name" href="#">
							Infrastructure
							<span class="job-qty">364</span>
						</a>
					</div>
					<div class="child-term">
						<a href="#">
							<div class="term-icon icon-devops"></div>
							DevOps
							<span class="child-qty">160</span>
						</a>
					</div>
					<div class="child-term">
						<a href="#">
							<div class="term-icon icon-db-engineer"></div>
							Database Engineer
							<span class="child-qty">45</span>
						</a>
					</div>
					<div class="child-term">
						<a href="#">
							<div class="term-icon icon-it-security"></div>
							Cybersecurity
							<span class="child-qty">59</span>
						</a>
					</div>
					<div class="child-term">
						<a href="#">
							<div class="term-icon icon-sysadmin"></div>
							SysAdmin
							<span class="child-qty">58</span>
						</a>
					</div>
					<div class="mt-25 w-100">
						<a class="show-all-jobs-cat" href="#">See all</a>
					</div>
				</div>
				<div class="category-block color-mobile-development">
					<a class="section-collapse collapsed">
						<img src="~/svgs/arrow-right-blue.svg" alt="Collapse section">
					</a>
					<div class="category-block-title-holder">
						<a class="category-name" href="#">
							Mobile Development
							<span class="job-qty">79</span>
						</a>
					</div>
					<div class="child-term">
						<a href="#">
							<div class="term-icon icon-ios"></div>
							iOS
							<span class="child-qty">26</span>
						</a>
					</div>
					<div class="child-term">
						<a href="#">
							<div class="term-icon icon-android"></div>
							Android
							<span class="child-qty">39</span>
						</a>
					</div>
					<div class="mt-25 w-100">
						<a class="show-all-jobs-cat" href="#">See all</a>
					</div>
				</div>
				<div class="category-block color-front-end-development border-right border-left border-bottom">
					<a class="section-collapse collapsed">
						<img src="~/svgs/arrow-right-blue.svg" alt="Collapse section">
					</a>
					<div class="category-block-title-holder">
						<a class="category-name" href="#">
							Frontend Development
							<span class="job-qty">354</span>
						</a>
					</div>
					<div class="child-term">
						<a href="#">
							<div class="term-icon icon-js"></div>
							JavaScript
							<span class="child-qty">345</span>
						</a>
					</div>
					<div class="child-term">
						<a href="#">
							<div class="term-icon icon-react"></div>
							React
							<span class="child-qty">137</span>
						</a>
					</div>
					<div class="child-term">
						<a href="#">
							<div class="term-icon icon-angular"></div>
							Angular
							<span class="child-qty">74</span>
						</a>
					</div>
					<div class="child-term">
						<a href="#">
							<div class="term-icon icon-vuejs"></div>
							Vue.js
							<span class="child-qty">23</span>
						</a>
					</div>
					<div class="mt-25 w-100">
						<a class="show-all-jobs-cat" href="#">See all</a>
					</div>
				</div>
				<div class="category-block color-quality-assurance border-right border-left border-bottom">
					<a class="section-collapse collapsed">
						<img src="~/svgs/arrow-right-blue.svg" alt="Collapse section">
					</a>
					<div class="category-block-title-holder">
						<a class="category-name" href="#">
							Quality Assurance
							<span class="job-qty">182</span>
						</a>
					</div>
					<div class="child-term">
						<a href="#">
							<div class="term-icon icon-automation-qa"></div>
							Automation QA
							<span class="child-qty">124</span>
						</a>
					</div>
					<div class="child-term">
						<a href="#">
							<div class="term-icon icon-manual-qa"></div>
							Manual QA
							<span class="child-qty">32</span>
						</a>
					</div>
					<div class="mt-25 w-100">
						<a class="show-all-jobs-cat" href="#">See all</a>
					</div>
				</div>
				<div class="category-block color-data-science border-right border-left border-bottom">
					<a class="section-collapse collapsed">
						<img src="~/svgs/arrow-right-blue.svg" alt="Collapse section">
					</a>
					<div class="category-block-title-holder">
						<a class="category-name" href="#">
							Data Science
							<span class="job-qty">157</span>
						</a>
					</div>
					<div class="child-term">
						<a href="#">
							<div class="term-icon icon-data-wh"></div>
							ETL/Data warehouse
							<span class="child-qty">40</span>
						</a>
					</div>
					<div class="child-term">
						<a href="#">
							<div class="term-icon icon-big-data"></div>
							Big Data
							<span class="child-qty">16</span>
						</a>
					</div>
					<div class="child-term">
						<a href="#">
							<div class="term-icon icon-bi-data"></div>
							BI/Data visualization
							<span class="child-qty">42</span>
						</a>
					</div>
					<div class="child-term">
						<a href="#">
							<div class="term-icon icon-data-modeling"></div>
							ML/AI/Data modelling
							<span class="child-qty">66</span>
						</a>
					</div>
					<div class="mt-25 w-100">
						<a class="show-all-jobs-cat" href="#">See all</a>
					</div>
				</div>
				<div class="category-block color-customer-support border-right border-left">
					<a class="section-collapse collapsed">
						<img src="~/svgs/arrow-right-blue.svg" alt="Collapse section">
					</a>
					<div class="category-block-title-holder">
						<a class="category-name" href="#">
							Customer Support
							<span class="job-qty">74</span>
						</a>
					</div>
					<div class="mt-25 w-100">
						<a class="show-all-jobs-cat" href="#">See all</a>
					</div>
				</div>
				<div class="category-block color-full-stack-development border-bottom">
					<a class="section-collapse collapsed">
						<img src="~/svgs/arrow-right-blue.svg" alt="Collapse section">
					</a>
					<div class="category-block-title-holder">
						<a class="category-name" href="#">
							Fullstack Development
							<span class="job-qty">183</span>
						</a>
					</div>
					<div class="mt-25 w-100">
						<a class="show-all-jobs-cat" href="#">See all</a>
					</div>
				</div>
				<div class="category-block color-pm-ba-and-more border-bottom">
					<a class="section-collapse collapsed">
						<img src="~/svgs/arrow-right-blue.svg" alt="Collapse section">
					</a>
					<div class="category-block-title-holder">
						<a class="category-name" href="#">
							PM/BA and more
							<span class="job-qty">231</span>
						</a>
					</div>
					<div class="child-term">
						<a href="#">
							<div class="term-icon icon-pm"></div>
							IT Project Management
							<span class="child-qty">67</span>
						</a>
					</div>
					<div class="child-term">
						<a href="#">
							<div class="term-icon icon-ba"></div>
							IT Business Analyst
							<span class="child-qty">41</span>
						</a>
					</div>
					<div class="child-term">
						<a href="#">
							<div class="term-icon icon-product-manager"></div>
							Product Management
							<span class="child-qty">26</span>
						</a>
					</div>
					<div class="child-term">
						<a href="#">
							<div class="term-icon icon-technical-writer icon-non-sprite"></div>
							Tech Writer
							<span class="child-qty">9</span>
						</a>
					</div>
					<div class="mt-25 w-100">
						<a class="show-all-jobs-cat" href="#">See all</a>
					</div>
				</div>
				<div class="category-block color-erp-crm-development border-bottom">
					<a class="section-collapse collapsed">
						<img src="~/svgs/arrow-right-blue.svg" alt="Collapse section">
					</a>
					<div class="category-block-title-holder">
						<a class="category-name" href="#">
							ERP / CRM Development
							<span class="job-qty">117</span>
						</a>
					</div>
					<div class="child-term">
						<a href="#">
							<div class="term-icon icon-sap"></div>
							SAP
							<span class="child-qty">81</span>
						</a>
					</div>
					<div class="child-term">
						<a href="#">
							<div class="term-icon icon-salesforce"></div>
							SalesForce
							<span class="child-qty">20</span>
						</a>
					</div>
					<div class="mt-25 w-100">
						<a class="show-all-jobs-cat" href="#">See all</a>
					</div>
				</div>
				<div class="category-block color-ui-ux-and-arts border-bottom">
					<a class="section-collapse collapsed">
						<img src="svgs/arrow-right-blue.svg" alt="Collapse section">
					</a>
					<div class="category-block-title-holder">
						<a class="category-name" href="#">
							UI/UX, Arts
							<span class="job-qty">35</span>
						</a>
					</div>
					<div class="mt-25 w-100">
						<a class="show-all-jobs-cat" href="#">See all</a>
					</div>
				</div>
				<div class="category-block color-technical-support">
					<a class="section-collapse collapsed">
						<img src="svgs/arrow-right-blue.svg" alt="Collapse section">
					</a>
					<div class="category-block-title-holder">
						<a class="category-name" href="#">
							Technical Support
							<span class="job-qty">102</span>
						</a>
					</div>
					<div class="mt-25 w-100">
						<a class="show-all-jobs-cat" href="#">See all</a>
					</div>
				</div>
			</div>
			<div class="homepage-other-categories">
				<div class="homepage-other-category junior-intern">
					<a href="#" class="title-count-wrap">
						<h6 class="cat-title">
							Junior/Intern <br> <span class="underlined underline-bright-green">offers</span>
						</h6>
						<span class="badge-count badge-bright-green job-qty">111</span>
					</a>
					<p class="content">
						The first job in the IT sector. Special miniboard with all Junior and Intern
						announced. In addition to the profession/technology miniboards, you can also find them here, on
						one place.
					</p>
					<a href="#" class="see-all">See all </a>
				</div>
				<div class="homepage-other-category it-management">
					<a href="#" class="title-count-wrap">
						<h6 class="cat-title">
							IT Management <br> <span class="underlined underline-pink">offers</span>
						</h6>
						<span class="badge-count badge-red job-qty">36</span>
					</a>
					<p class="content">
						Announcements at a high management level in the IT sector - Director, Engineering
						Manager, Architect, VP, CXO…
					</p>
					<a href="#" class="see-all">See all</a>
				</div>
			</div>
		</div>
	</div>
</section>


<div class="background-element">
	<div class="eclipses">
		<div class="eclipse ellipse-1"></div>
		<div class="eclipse ellipse-2"></div>
		<div class="eclipse ellipse-3"></div>
	</div>
	<div class="glow-ellipse-background"></div>
</div>
