.container.single-company {
    flex-wrap: wrap;
}

.container.container-single-job .apply-button-wrap {
    display: flex;
    justify-content: center;
}

.job-last-application {
    width: 100%;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.5em;
    padding: 12px 36px;
    color: #2B3FD1;
    text-align: center;
}

.job-last-application-inner {
    position: relative;
}

.job-last-application-inner:before {
    content: '';
    position: absolute;
    top: 0;
    left: -21px;
    background-image: url(../../../images/icon-copies.svg);
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-size: contain;
}

/***** Job listing meta ********/

.single_job_listing .job-listing-meta {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.single_job_listing .job-listing-meta .date-posted {
    display: flex;
    flex: 1 1 auto;
    gap: 8px;
}

.single_job_listing .job-listing-meta .date-posted:before {
    content: '';
    display: block;
    width: 17px;
    height: 17px;
    background-image: url('../../../images/icon-calendar-2.svg');
    background-size: contain;
    background-repeat: no-repeat;
    flex-shrink: 0;
}

.single_job_listing .job-listing-meta .report-job-listing {
    display: flex;
    align-items: center;
}

.single_job_listing .job-listing-meta .report-job-listing .report-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
    color: #374EF5;
    text-align: right;
    font-weight: 300;
}

.single_job_listing .job-listing-meta .report-job-listing .report-button>img {
    width: 20px;
    height: 20px;
}

/**** Tech stack ****/

.single_job_listing .tech-stack {
    margin-bottom: 30px;
}

.single_job_listing .tech-stack .tech-stack-title {
    font-size: 14px;
    text-transform: uppercase;
}

.single_job_listing .tech-stack>.inner {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

/**** END Tech stack ****/

/* Small */

@media screen and (max-width: 950px) {
    .container.container-single-job .single-job-apply-button {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 15px 0;
        border-radius: 5px 5px 0 0;
        z-index: 6;
    }
    .single_job_listing .job-listing-meta .date-posted {
        display: flex;
        gap: 3px;
        flex: 2 0 50%;
    }
    .single_job_listing .job-listing-meta .report-job-listing {
        padding-left: 0;
    }
    .single_job_listing .job-listing-meta .report-job-listing .report-button {
        font-size: 0;
    }
    .single_job_listing .job-listing-meta .report-job-listing .report-button>img {
        width: 25px;
        height: 25px;
    }
    .job-last-application {
        font-size: 14px;
    }
    .single_job_listing .job-listing-meta {
        flex-wrap: wrap;
    }
}