<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - LuxuryCars.Web</title>
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
	<header>
		<nav>
			<div>
				<a asp-area="" asp-controller="Home" asp-action="Index">LuxuryCars.Web</a>
				<div>
					<ul>
						<li>
							<a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
						</li>
						<li>
							<a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
						</li>
					</ul>
					<partial name="_LoginPartial" />
				</div>
			</div>
		</nav>
	</header>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer>
		<div>
			&copy; 2023 - LuxuryCars.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
