@model UserChangePasswordFormModel

<div class="my-profile-column">
	<h2 class="column-title">User details</h2>
	<form asp-area="Manage" asp-controller="Account" asp-action="ChangePassword" id="edit-password-form" class="user-details-form change-password-form " method="post">
		<div class="subscriber-names-wrap field-wrap">
			<label>Type new password</label>
			<input asp-for="Password" type="password" class="input-field">
		</div>
		<div class="subscriber-names-wrap field-wrap">
			<label>Confirm new password</label>
			<input asp-for="ConfirmPassword" type="password" class="input-field">
		</div>
		@if (Model != null)
		{
			<div asp-validation-summary="All" class="error_messsage validation-summary"></div>
		}
		<button class="subscriber-submit" type="submit">Save changes</button>
	</form>
</div>

<style>
	.validation-summary ul{
		list-style-type: none;
	}
</style>