/* Breadcrumbs */

.breadcrumbs-wrapper {
    margin: 55px 0 30px;
}

.breadcrumbs-wrapper ul {
    list-style: none;
    padding-left: 0;
}

.breadcrumbs-wrapper ul li {
    display: inline-block;
    font-weight: 100;
}

.breadcrumbs-wrapper li::before {
    display: inline-block;
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: #595959;
    vertical-align: middle;
    margin-right: 10px;
    margin-left: 10px;
}

.breadcrumbs-wrapper li:first-child::before {
    display: none;
}

.breadcrumbs-wrapper li a {
    color: #595959;
}

.breadcrumbs-wrapper li a:last-child {
    font-weight: 500;
    color: #374FFE;
}