/* Footer styles */

.site-footer {
    position: relative;
    padding: 80px 0;
    background-color: #ebebeb;
    z-index: 2;
}

.site-footer .footer-inner {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 40px;
    align-items: start;
    justify-content: space-between;
    align-content: space-between;
}

.site-footer .footer-column .column-header .devbg-footer-logo {
    width: 121px;
    height: 24px;
}

.site-footer .footer-column .site-description {
    font-size: 14px;
}

.site-footer .footer-column .column-header::after {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background-color: #304ffe;
    margin: 20px 0;
}

.site-footer .footer-column .column-header h6 {
    font-size: 12px;
    text-transform: uppercase;
}

.site-footer .footer-column .column-content>ul {
    padding-left: 0;
}

.site-footer .footer-columns .column-header .devbg-footer-logo {}

.site-footer .footer-column .column-content .menu-item {
    display: block;
    padding: 0;
    font-size: 15px;
    text-align: left;
    border: none;
    margin-bottom: 5px;
}

.site-footer .footer-column .footer-social-icons {
    display: flex;
    gap: 15px;
}

/* Medium & down */

@media screen and (max-width: 1200px) {
    .site-footer .footer-inner {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Small */

@media screen and (max-width: 950px) {
    .site-footer .footer-inner {
        grid-template-columns: 1fr;
    }
}