/* Menu styling */

.inner .main-nav>.menu-item {
    position: relative;
    text-align: center;
}

.inner .menu-item a {
    padding: 20px 0;
    text-transform: uppercase;
    color: #595959;
    font-weight: 400;
    font-size: 14px;
    transition: color 0.15s ease-in-out;
}

.inner .menu-item:hover>a,
.inner .menu-item.current-menu-item>a {
    color: #374FFE;
}

/* SUBMENU */

.inner .sub-menu {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 1024px;
    padding: 20px;
    margin-top: 10px;
    left: -9999px;
    top: -9999px;
    opacity: 0;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 3px 16px #0000000B;
    transition: opacity 0.2s ease-in-out;
    z-index: 10;
}

.inner .menu-item-has-children:hover .sub-menu {
    top: 23px;
    left: -75px;
    box-shadow: 0 19px 50px #00000036;
    opacity: 1;
}

.inner .sub-menu .submenu-left {
    flex-grow: 1;
    list-style: none;
}

.inner .sub-menu .submenu-left>.submenu-item {
    margin: 3px 30px 3px 0;
    border-radius: 10px;
    padding: 10px;
    justify-content: flex-start;
    transition: all 0.2s ease-in-out;
    height: auto;
    text-align: left;
    white-space: nowrap;
}

.inner .sub-menu .submenu-left>.submenu-item:hover {
    background-color: #f8f8f8;
}

.inner .sub-menu .submenu-left>.submenu-item:first-child {
    margin-top: 0;
}

.inner .sub-menu .submenu-left>.submenu-item:last-child {
    margin-bottom: 0;
}

.inner .sub-menu .submenu-item::before {
    content: '';
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    flex-shrink: 0;
}

.inner .sub-menu .submenu-item.icon-devbg-event::before {
    background-image: url('../../images/icon-devbg-event.svg');
    width: 50px;
    height: 50px;
}

.inner .sub-menu .submenu-item.icon-it-calendar::before {
    background-image: url('../../images/icon-it-calendar.svg');
    width: 50px;
    height: 50px;
}

.inner .sub-menu .submenu-item.icon-user-group::before {
    background-image: url('../../images/icon-user-group.svg');
    width: 50px;
    height: 50px;
}

.inner .sub-menu .submenu-item.icon-speakers::before {
    background-image: url('../../images/icon-speakers.svg');
    width: 50px;
    height: 50px;
}

.inner .sub-menu .submenu-item.icon-team::before {
    background-image: url('../../images/icon-team.svg');
    width: 50px;
    height: 50px;
}

.inner .sub-menu .submenu-item.icon-employer::before {
    background-image: url('../../images/icon-employer.svg');
    width: 50px;
    height: 50px;
}

.inner .sub-menu .submenu-item.icon-contacts::before {
    background-image: url('../../images/icon-contacts.svg');
    width: 50px;
    height: 50px;
}

.inner .sub-menu .submenu-item.icon-partners::before {
    background-image: url('../../images/icon-partners.svg');
    width: 50px;
    height: 50px;
}

.inner .sub-menu .submenu-item>a {
    text-align: left;
    margin-left: 40px;
}

.inner .sub-menu .submenu-item .inner-link-txt {
    font-size: 14px;
    font-weight: 400;
    color: #595959;
    text-transform: uppercase;
}

.inner .sub-menu .submenu-item .inner-link-desc {
    font-size: 14px;
    color: #adadad;
    text-transform: initial;
    margin-top: 8px;
}

.inner .sub-menu .submenu-right {
    flex-shrink: 0;
    display: flex;
    max-width: 430px;
    align-items: flex-start;
}

.inner .sub-menu .submenu-right .menu-banner {
    max-height: 221px;
    border-radius: 4px;
}

/* Simplified styles, as requested */

.inner .sub-menu.simplified {
    width: auto;
    padding: 15px 20px;
    min-width: 200px;
    max-width: 380px;
}

.inner .sub-menu.simplified .submenu-right {
    display: none;
}

.inner .sub-menu.simplified .submenu-item {
    text-transform: initial;
    margin-right: 0;
    margin-bottom: 5px;
    padding: 10px 7px;
}

.inner .sub-menu.simplified .submenu-item>a {
    margin-left: 0;
}

.inner .sub-menu.simplified .submenu-item:hover {
    background-color: transparent;
}

.inner .sub-menu.simplified .submenu-item:hover .inner-link-txt {
    color: #374FFE;
}

.inner .sub-menu.simplified .submenu-item::before {
    display: none;
}

.inner .sub-menu.simplified .submenu-item>a {
    text-transform: initial;
}

@media screen and (min-width: 1200px) {
    .inner .submenu-type-2 .submenu-item::before {
        width: 50px;
        height: 50px;
    }
    .inner .submenu-type-2 .submenu-left>.submenu-item {
        width: 50%;
        margin: 10px 0;
    }
    .submenu-type-2 .submenu-left {
        display: flex;
        flex-wrap: wrap;
    }
    .submenu-type-2 .sub-menu .submenu-right {
        display: none;
    }
    /* simplified submenu */
    /*.inner .menu-item-has-children:hover .sub-menu.simplified {*/
    /*  left: initial;*/
    /*}*/
}

/* Medium & down */

@media screen and (max-width: 1200px) {
    .logged-in .mobile-menu #menu {
        top: 117px;
        height: calc(100vh - 117px);
        padding-top: 50px;
    }
    /* company reps dont have an admin bar. We need to compensate for that */
    .is-company-rep.logged-in .mobile-menu #menu {
        top: 70px;
    }
    .mobile-menu #menu {
        top: 71px;
        height: calc(100vh - 71px);
        overflow: scroll;
        padding: 50px 0 50px
    }
    .mobile-menu #menu .menu-item {
        text-align: left;
    }
    .mobile-menu #menu .menu-item .inner-link-txt {
        font-size: 14px;
        color: #595959;
        text-transform: uppercase;
        font-weight: 400;
    }
    .mobile-menu #menu .menu-item.current-menu-item .inner-link-txt,
    .mobile-menu #menu>.menu-item-has-children.open>a .inner-link-txt {
        color: #304ffe;
        font-weight: 500;
    }
    /*.mobile-menu #menu > .menu-item-has-children > a > .inner-link-txt::after {*/
    /*  content: '';*/
    /*  display: inline-block;*/
    /*  width: 7px;*/
    /*  height: 7px;*/
    /*  border-top: 2px solid black;*/
    /*  border-right: 2px solid black;*/
    /*  transform: rotate(135deg);*/
    /*  margin-left: 10px;*/
    /*  margin-bottom: 3px;*/
    /*  transition: all 0.2s ease-in-out;*/
    /*}*/
    /*.mobile-menu #menu > .menu-item-has-children.open .inner-link-txt::after {*/
    /*  transform: rotate(-45deg);*/
    /*  margin-bottom: 0;*/
    /*}*/
    .mobile-menu #menu li.current_page_item .inner-link-txt {
        color: #595959;
    }
    .mobile-menu #menu .menu-item>.sub-menu {
        position: static;
        width: auto;
        min-height: auto;
        opacity: 1;
        background-color: white;
        box-shadow: none;
        border-radius: 10px;
        margin: 0;
        padding: 0;
        height: auto;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-in-out, margin 0.3s ease-in-out, padding 0.3s ease-in-out;
    }
    .mobile-menu #menu .menu-item>.sub-menu.open {
        margin-top: 10px;
        max-height: 1000px;
        padding: 0 20px;
    }
    .mobile-menu #menu .menu-item>.sub-menu .submenu-item {
        display: flex;
        padding: 0 10px;
        margin: 10px 0;
    }
    .mobile-menu #menu .menu-item>.sub-menu .submenu-item a {
        padding: 0;
    }
    .mobile-menu #menu .menu-item>.sub-menu .submenu-item:hover {
        background-color: white;
    }
    .mobile-menu #menu .menu-item>.sub-menu .submenu-item::before {
        display: block;
        flex-shrink: 0;
    }
    .mobile-menu #menu .menu-item>.sub-menu .submenu-item .inner-link-txt {
        text-transform: none;
    }
    .mobile-menu #menu .menu-item>.sub-menu .submenu-right {
        display: none;
    }
    .mobile-menu #menu .menu-buttons-wrap {
        margin-top: 40px;
        padding: 0 20px;
        text-align: left;
    }
    .mobile-menu #menu .menu-buttons-wrap .subscriber-login-btn {
        margin-top: 28px;
        color: #374FFE;
        font-weight: bold;
    }
    .mobile-menu #menu .menu-buttons-wrap .subscriber-register-btn {
        margin-top: 15px;
        margin-left: 0;
        justify-content: center;
        color: white;
        font-weight: bold;
    }
    .mobile-menu #menu .sub-menu.simplified .submenu-item {
        margin-bottom: 20px;
    }
    .mobile-menu #menu .sub-menu.simplified .submenu-item::before {
        display: none;
    }
    .container.full-width-container {
        width: calc( 100% - 40px);
    }
}