/* // TODO: refactor this whole component - the styles are horrid */

/* Common */

.save-job-container .icon {
    background-image: url('../../images/bookmark-ribbon-outline.svg');
    width: 18px;
    height: 22px;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.save-job-container.saved .save-cta .icon,
.save-job-container .save-cta:hover .icon {
    background-image: url('../../images/bookmark-ribbon.svg');
}

.save-job-container .save-cta:hover .icon {
    opacity: 0.5;
}

.save-job-container.saved .save-cta:hover .icon {
    opacity: 1;
}

/* Jobs lists (multiple job lists item on one page) */

.job-list-item .save-job-container {
    position: absolute;
    top: -1px;
    right: 28px;
    z-index: 3;
}

.job-list-item.is-premium .save-job-container {
    top: 0px;
}

.job-list-item .save-job-container .save-cta {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    column-gap: 7px;
    font-size: 16px;
}

.job-list-item .save-job-container .btn-size-1 {
    height: unset;
}

.job-list-item .save-job-container .label {
    width: 0;
    display: inline-block;
    opacity: 0;
    height: 1em;
    line-height: 1.25em;
    vertical-align: baseline;
    font-size: 0.75em;
    color: #374FFE;
    font-weight: bolder;
}

.job-list-item .save-job-container .save-cta .label-saved {
    display: none;
}

.job-list-item .save-job-container .save-cta .label-save {
    display: inline-block;
}

.job-list-item .save-job-container .save-cta:hover .label {
    width: auto;
    opacity: 1;
    transition: all 2s;
}

.job-list-item .save-job-container.saved .save-cta .label-saved {
    display: inline-block;
    width: auto;
    opacity: 1;
}

.job-list-item .save-job-container.saved .save-cta .label-save {
    display: none;
}

.job-list-item .save-job-container .icon {
    width: 1.125em;
    height: 1.375em;
}

@media screen and (max-width: 950px) {
    .job-list-item .save-job-container {
        right: 10px;
    }
    .job-list-item .save-job-container .save-cta {
        font-size: 13px;
    }
}

/** Single job */

.single-job .save-job-container,
.employer .save-job-container {
    display: none;
}

.container-single-job .save-job-container .label-saved {
    display: none;
}

.container-single-job .save-job-container .label-save {
    display: inline-block;
}

.container-single-job .save-job-container.saved .label-saved {
    display: inline-block;
}

.container-single-job .save-job-container.saved .label-save {
    display: none;
}

.container-single-job .save-job-container.saved .btn {
    background-color: #ebf3ff;
}

/** EMO: this button (in single jobs was redesigned in DVB-782. The following are the new styles for that. The above CSS is _very bad_ and I have no idea if it's in use or not -
 * it certainly isn't being used in single jobs, as the comment suggests. I'm leaving it there for now, because I don't have the time, but this whole component should be restyled */

.single_job_listing .save-job-container .save-cta {
    display: flex;
    align-items: center;
    gap: 8px;
    background: transparent;
    font-size: 15px;
    color: #374EF5;
    font-weight: 300;
}

.single_job_listing .save-job-container .save-cta .save-icon {
    width: 15px;
    height: 17px;
}

/* Small */

@media screen and (max-width: 950px) {
    .single_job_listing .job-listing-meta {
        overflow: visible;
    }
    .single_job_listing .job-listing-meta .save-job-li .save-job-container {
        transition: all 0.2s ease-in-out;
    }
    .single_job_listing .job-listing-meta .save-job-li .save-job-container:not(.saved) {
        transform: translateX(13px);
    }
    .single_job_listing .save-job-container .save-cta {
        position: relative;
    }
    .single_job_listing .save-job-container .save-cta .label-save {
        display: none;
    }
    .container-single-job .save-job-container.saved .label-saved {
        display: inline-block;
        position: absolute;
        bottom: -19px;
        font-size: 12px;
        left: -14px;
    }
    .single_job_listing .save-job-container .save-cta .save-icon {
        width: 19px;
        height: 21px;
    }
    /*.single_job_listing .save-job-container.saved .save-cta .save-icon {*/
    /*    transform: translateY(10px);*/
    /*}*/
}