.suggested-jobs-section {
    margin-bottom: 10px;
}

.suggested-jobs-section .title-wrap h6 {
    font-weight: 600;
    text-align: center;
    color: black;
    margin: 0;
    font-size: 18px;
}

.suggested-jobs-section .title-wrap .h6.job-title {
    color: #374ffe;
}

.suggested-jobs-section .suggested-jobs-wrap {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-top: 20px;
}