@model DevHunter.Web.ViewModels.JobOffer.AllJobOffersQueryModel

<div class="job-listing-category-container">
	<header class="job-listing-category-header">
		<div class="outer-circle">
			<div class="inner-circle">
				<img width="180" height="180" src="~/imgs/fullstack.png" loading="lazy" />
			</div>
		</div>
		<div class="miniboard">
			<h1 class="title"><span>Fullstack Development</span> job openings</h1>
			<p class="description">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci cumque
				laboriosam modi perspiciatis quae quam quasi quia ratione, tempora? Ad aliquid at autem beatae commodi
				cumque dicta dolor dolore ducimus esse expedita facilis hic id inventore magni minima molestiae
			</p>
		</div>
	</header>
	<main class="job-listing-category-main job-listing-container-with-sidebar left-sidebar">

		<partial name="_AsidePartial" model="Model.Filters" />

		<partial name="_JobOfferAllPartial" model="Model.JobOffers"/>
	</main>
</div>
@section Scripts {
	<script src="~/js/job-offer-all-aside.js"></script>
	<script src="~/js/filter-job-offers.js"></script>
}
