<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - DevHunter</title>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

	<script src="~/lib/jquery/dist/jquery.min.js"></script>

	@await Html.PartialAsync("_ToastrScriptsPartial")
	@await Html.PartialAsync("_Favicons")
</head>
<body>
	<div class="site-container">
		<header class="site-header">
			<div class="site-title">
				<p><a class="site-full-name" asp-area="" asp-controller="Home" asp-action="Index"><span>DH</span> DevHunter</a></p>
			</div>

			<nav class="main-nav">
				<ul>
					<li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
					<li><a asp-area="" asp-controller="Home" asp-action="Privacy">About</a></li>
					<li><a asp-area="Company" asp-controller="JobOffer" asp-action="Add">Post a Job</a></li>
					<li><a href="#">Candidates</a></li>
					<li><a href="#">Contact us</a></li>
				</ul>
			</nav>

			<partial name="_LoginPartial" />
		</header>

		<main class="site-main">
			@RenderBody()
		</main>

		<footer class="site-footer">
			<div class="container-wrap">
				<div class="site-title">
					<p><a class="site-full-name" asp-area="" asp-controller="Home" asp-action="Index"><span>DH</span> DevHunter</a></p>
				</div>

				<ul class="socials-icons">
					<li class="social-icon">
						<a href="">
							<p>Twitter</p>
							<svg viewBox="0 0 24 24" fill="none"
								 xmlns="http://www.w3.org/2000/svg">
								<path d="M23.0193 6.53541C22.9768 6.43257 22.9048 6.34463 22.8124 6.28272C22.7199 6.22081 22.6112 6.18771 22.4999 6.1876H19.5374C19.1626 5.51161 18.6151 4.94717 17.9509 4.55189C17.2866 4.15661 16.5294 3.94463 15.7565 3.9376C15.1951 3.93041 14.6379 4.03551 14.1178 4.24674C13.5976 4.45797 13.1249 4.77106 12.7274 5.1676C12.3178 5.56949 11.9927 6.04922 11.7711 6.57858C11.5496 7.10795 11.4361 7.67626 11.4374 8.2501V9.06198C7.49992 8.12448 4.25617 4.88823 4.21867 4.85448C4.14312 4.77945 4.04783 4.72741 3.94387 4.7044C3.83992 4.68139 3.73157 4.68836 3.63141 4.72449C3.53126 4.76062 3.44342 4.82444 3.3781 4.90852C3.31278 4.9926 3.27266 5.0935 3.26242 5.19948C2.86398 9.62635 4.14554 12.5823 5.29117 14.2829C5.88341 15.1738 6.61345 15.9649 7.45398 16.6267C6.00179 18.4079 3.57836 19.3351 3.55211 19.3454C3.47204 19.375 3.39978 19.4225 3.34078 19.4842C3.28178 19.5459 3.23759 19.6202 3.21158 19.7015C3.18556 19.7828 3.17839 19.869 3.19061 19.9535C3.20283 20.038 3.23412 20.1186 3.28211 20.1892C3.37492 20.3279 4.29179 21.5626 7.49992 21.5626C14.0512 21.5626 19.5215 16.5001 20.0455 9.99948L22.8974 7.14854C22.9761 7.06986 23.0297 6.9696 23.0514 6.86047C23.0731 6.75133 23.0619 6.63821 23.0193 6.53541ZM19.1024 9.3526C19.0055 9.44925 18.9472 9.57791 18.9384 9.71448C18.5559 15.7276 13.5309 20.4376 7.49992 20.4376C6.18742 20.4376 5.36617 20.2117 4.86929 19.9876C5.92867 19.4551 7.65554 18.4051 8.71773 16.8123C8.76009 16.7486 8.78901 16.6769 8.80271 16.6016C8.81641 16.5263 8.81461 16.449 8.79742 16.3745C8.78005 16.2994 8.74746 16.2288 8.70166 16.1668C8.65586 16.1049 8.59783 16.0531 8.53117 16.0145C8.51898 16.007 7.30023 15.2776 6.18742 13.6032C4.87492 11.6251 4.24773 9.22791 4.31242 6.4576C5.70742 7.63885 8.58461 9.74729 11.9062 10.3014C11.9869 10.315 12.0696 10.3109 12.1485 10.2892C12.2274 10.2676 12.3007 10.2291 12.3632 10.1762C12.4256 10.1234 12.4758 10.0575 12.5103 9.98329C12.5447 9.90904 12.5625 9.82818 12.5624 9.74635V8.2501C12.5616 7.82528 12.6456 7.40457 12.8097 7.01271C12.9737 6.62084 13.2145 6.26573 13.5177 5.96823C13.8097 5.67669 14.157 5.4464 14.5392 5.29089C14.9214 5.13537 15.3308 5.05776 15.7434 5.0626C17.0024 5.07854 18.1809 5.84729 18.6721 6.9751C18.7159 7.07543 18.788 7.1608 18.8796 7.22075C18.9712 7.2807 19.0783 7.31262 19.1877 7.3126H21.1415L19.1024 9.3526Z"
									  fill="white" />
							</svg>
						</a>
					</li>
					<li class="social-icon">
						<a href="">
							<p>LinkedIn</p>
							<svg viewBox="0 0 24 24" fill="none"
								 xmlns="http://www.w3.org/2000/svg">
								<path d="M20.25 2.4375H3.75C3.4019 2.4375 3.06806 2.57578 2.82192 2.82192C2.57578 3.06806 2.4375 3.4019 2.4375 3.75V20.25C2.4375 20.5981 2.57578 20.9319 2.82192 21.1781C3.06806 21.4242 3.4019 21.5625 3.75 21.5625H20.25C20.5981 21.5625 20.9319 21.4242 21.1781 21.1781C21.4242 20.9319 21.5625 20.5981 21.5625 20.25V3.75C21.5625 3.4019 21.4242 3.06806 21.1781 2.82192C20.9319 2.57578 20.5981 2.4375 20.25 2.4375ZM20.4375 20.25C20.4375 20.2997 20.4177 20.3474 20.3826 20.3826C20.3474 20.4177 20.2997 20.4375 20.25 20.4375H3.75C3.70027 20.4375 3.65258 20.4177 3.61742 20.3826C3.58225 20.3474 3.5625 20.2997 3.5625 20.25V3.75C3.5625 3.70027 3.58225 3.65258 3.61742 3.61742C3.65258 3.58225 3.70027 3.5625 3.75 3.5625H20.25C20.2997 3.5625 20.3474 3.58225 20.3826 3.61742C20.4177 3.65258 20.4375 3.70027 20.4375 3.75V20.25ZM8.8125 10.5V16.5C8.8125 16.6492 8.75324 16.7923 8.64775 16.8977C8.54226 17.0032 8.39918 17.0625 8.25 17.0625C8.10082 17.0625 7.95774 17.0032 7.85225 16.8977C7.74676 16.7923 7.6875 16.6492 7.6875 16.5V10.5C7.6875 10.3508 7.74676 10.2077 7.85225 10.1023C7.95774 9.99676 8.10082 9.9375 8.25 9.9375C8.39918 9.9375 8.54226 9.99676 8.64775 10.1023C8.75324 10.2077 8.8125 10.3508 8.8125 10.5ZM17.0625 13.125V16.5C17.0625 16.6492 17.0032 16.7923 16.8977 16.8977C16.7923 17.0032 16.6492 17.0625 16.5 17.0625C16.3508 17.0625 16.2077 17.0032 16.1023 16.8977C15.9968 16.7923 15.9375 16.6492 15.9375 16.5V13.125C15.9375 12.578 15.7202 12.0534 15.3334 11.6666C14.9466 11.2798 14.422 11.0625 13.875 11.0625C13.328 11.0625 12.8034 11.2798 12.4166 11.6666C12.0298 12.0534 11.8125 12.578 11.8125 13.125V16.5C11.8125 16.6492 11.7532 16.7923 11.6477 16.8977C11.5423 17.0032 11.3992 17.0625 11.25 17.0625C11.1008 17.0625 10.9577 17.0032 10.8523 16.8977C10.7468 16.7923 10.6875 16.6492 10.6875 16.5V10.5C10.6875 10.3508 10.7468 10.2077 10.8523 10.1023C10.9577 9.99676 11.1008 9.9375 11.25 9.9375C11.3992 9.9375 11.5423 9.99676 11.6477 10.1023C11.7532 10.2077 11.8125 10.3508 11.8125 10.5V10.6978C12.2761 10.3044 12.8425 10.0518 13.4449 9.96973C14.0474 9.8877 14.6607 9.97968 15.2126 10.2348C15.7645 10.49 16.2319 10.8976 16.5597 11.4097C16.8874 11.9218 17.0619 12.517 17.0625 13.125ZM9.1875 7.875C9.1875 8.06042 9.13252 8.24168 9.0295 8.39585C8.92649 8.55002 8.78007 8.67018 8.60877 8.74114C8.43746 8.81209 8.24896 8.83066 8.0671 8.79449C7.88525 8.75831 7.7182 8.66902 7.58709 8.53791C7.45598 8.4068 7.36669 8.23975 7.33051 8.0579C7.29434 7.87604 7.31291 7.68754 7.38386 7.51623C7.45482 7.34493 7.57498 7.19851 7.72915 7.0955C7.88332 6.99248 8.06458 6.9375 8.25 6.9375C8.49864 6.9375 8.7371 7.03627 8.91291 7.21209C9.08873 7.3879 9.1875 7.62636 9.1875 7.875Z"
									  fill="white" />
							</svg>
						</a>
					</li>
					<li class="social-icon">
						<a href="">
							<p>Instagram</p>
							<svg viewBox="0 0 24 24" fill="none"
								 xmlns="http://www.w3.org/2000/svg">
								<path d="M12 7.6875C11.1471 7.6875 10.3133 7.94042 9.6041 8.41429C8.89492 8.88815 8.34217 9.56167 8.01577 10.3497C7.68937 11.1377 7.60397 12.0048 7.77036 12.8413C7.93676 13.6779 8.34749 14.4463 8.9506 15.0494C9.55372 15.6525 10.3221 16.0632 11.1587 16.2296C11.9952 16.396 12.8623 16.3106 13.6503 15.9842C14.4383 15.6578 15.1118 15.1051 15.5857 14.3959C16.0596 13.6867 16.3125 12.8529 16.3125 12C16.311 10.8567 15.8562 9.76067 15.0478 8.95225C14.2393 8.14382 13.1433 7.68899 12 7.6875ZM12 15.1875C11.3696 15.1875 10.7533 15.0006 10.2291 14.6503C9.70494 14.3001 9.29639 13.8022 9.05513 13.2198C8.81388 12.6374 8.75076 11.9965 8.87375 11.3781C8.99674 10.7598 9.30032 10.1919 9.7461 9.7461C10.1919 9.30032 10.7598 8.99674 11.3781 8.87375C11.9965 8.75076 12.6374 8.81388 13.2198 9.05513C13.8022 9.29639 14.3001 9.70494 14.6503 10.2291C15.0006 10.7533 15.1875 11.3696 15.1875 12C15.1875 12.8454 14.8517 13.6561 14.2539 14.2539C13.6561 14.8517 12.8454 15.1875 12 15.1875ZM16.5 2.4375H7.5C6.1578 2.43899 4.871 2.97284 3.92192 3.92192C2.97284 4.871 2.43899 6.1578 2.4375 7.5V16.5C2.43899 17.8422 2.97284 19.129 3.92192 20.0781C4.871 21.0272 6.1578 21.561 7.5 21.5625H16.5C17.8422 21.561 19.129 21.0272 20.0781 20.0781C21.0272 19.129 21.561 17.8422 21.5625 16.5V7.5C21.561 6.1578 21.0272 4.871 20.0781 3.92192C19.129 2.97284 17.8422 2.43899 16.5 2.4375ZM20.4375 16.5C20.4375 17.5443 20.0227 18.5458 19.2842 19.2842C18.5458 20.0227 17.5443 20.4375 16.5 20.4375H7.5C6.45571 20.4375 5.45419 20.0227 4.71577 19.2842C3.97734 18.5458 3.5625 17.5443 3.5625 16.5V7.5C3.5625 6.45571 3.97734 5.45419 4.71577 4.71577C5.45419 3.97734 6.45571 3.5625 7.5 3.5625H16.5C17.5443 3.5625 18.5458 3.97734 19.2842 4.71577C20.0227 5.45419 20.4375 6.45571 20.4375 7.5V16.5ZM17.8125 7.125C17.8125 7.31042 17.7575 7.49168 17.6545 7.64585C17.5515 7.80002 17.4051 7.92018 17.2338 7.99114C17.0625 8.06209 16.874 8.08066 16.6921 8.04449C16.5102 8.00831 16.3432 7.91902 16.2121 7.78791C16.081 7.6568 15.9917 7.48975 15.9555 7.3079C15.9193 7.12604 15.9379 6.93754 16.0089 6.76623C16.0798 6.59493 16.2 6.44851 16.3542 6.3455C16.5083 6.24248 16.6896 6.1875 16.875 6.1875C17.1236 6.1875 17.3621 6.28627 17.5379 6.46209C17.7137 6.6379 17.8125 6.87636 17.8125 7.125Z"
									  fill="white" />
							</svg>
						</a>
					</li>
					<li class="social-icon">
						<a href="">
							<p>Facebook</p>
							<svg viewBox="0 0 24 24" fill="none"
								 xmlns="http://www.w3.org/2000/svg">
								<path d="M12 2.4375C10.1087 2.4375 8.25991 2.99833 6.68736 4.04907C5.11482 5.09981 3.88917 6.59327 3.16541 8.34059C2.44164 10.0879 2.25227 12.0106 2.62125 13.8656C2.99022 15.7205 3.90096 17.4244 5.2383 18.7617C6.57564 20.099 8.27951 21.0098 10.1345 21.3788C11.9894 21.7477 13.9121 21.5584 15.6594 20.8346C17.4067 20.1108 18.9002 18.8852 19.9509 17.3126C21.0017 15.7401 21.5625 13.8913 21.5625 12C21.5595 9.46478 20.5511 7.03425 18.7584 5.24158C16.9658 3.44891 14.5352 2.44048 12 2.4375ZM12.5625 20.4188V14.0625H15C15.1492 14.0625 15.2923 14.0032 15.3978 13.8977C15.5032 13.7923 15.5625 13.6492 15.5625 13.5C15.5625 13.3508 15.5032 13.2077 15.3978 13.1023C15.2923 12.9968 15.1492 12.9375 15 12.9375H12.5625V10.5C12.5625 10.0524 12.7403 9.62323 13.0568 9.30676C13.3732 8.99029 13.8025 8.8125 14.25 8.8125H15.75C15.8992 8.8125 16.0423 8.75324 16.1478 8.64775C16.2532 8.54226 16.3125 8.39918 16.3125 8.25C16.3125 8.10082 16.2532 7.95774 16.1478 7.85225C16.0423 7.74676 15.8992 7.6875 15.75 7.6875H14.25C13.5041 7.6875 12.7887 7.98382 12.2613 8.51126C11.7338 9.03871 11.4375 9.75408 11.4375 10.5V12.9375H9C8.85082 12.9375 8.70775 12.9968 8.60226 13.1023C8.49677 13.2077 8.4375 13.3508 8.4375 13.5C8.4375 13.6492 8.49677 13.7923 8.60226 13.8977C8.70775 14.0032 8.85082 14.0625 9 14.0625H11.4375V20.4188C9.25334 20.2728 7.21138 19.2837 5.74285 17.6604C4.27432 16.037 3.49419 13.9064 3.5672 11.7186C3.64021 9.53079 4.56064 7.45698 6.13413 5.93513C7.70761 4.41328 9.81097 3.56252 12 3.56252C14.189 3.56252 16.2924 4.41328 17.8659 5.93513C19.4394 7.45698 20.3598 9.53079 20.4328 11.7186C20.5058 13.9064 19.7257 16.037 18.2572 17.6604C16.7886 19.2837 14.7467 20.2728 12.5625 20.4188Z"
									  fill="white" />
							</svg>
						</a>
					</li>
				</ul>
			</div>
		</footer>
		<partial name="_NotificationsPartial" />
	</div>

	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
