.approve-btn {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    background-color: #22970a;
    padding: 14px 25px 12px;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    column-gap: 10px;
    width: 100%;
    border: unset;
}

.reject-btn {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    background-color: #97110a;
    padding: 14px 25px 12px;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    column-gap: 10px;
    width: 100%;
    border: unset;
}

.contact-form-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.form-label {
    color: #1e1e1e;
}

.fields .document-container {
    list-style: none;
    padding: 0.8em 1.5em 0.8em 0.8em;
}

.fields .document-container .document-item {
    font-size: 14px;
}
