.input-row {
    display: flex;
    gap: 0.5em;
}

.input-row .first-item {
    flex: 0 1 60%;
}

.input-row .second-item {
    flex: 1 0;
}

.company-edit-container {
    position: relative;
    background: var(--overlay-dark);
    box-shadow: var(--shadow-navy-border);
    margin: 2em auto 6em auto;
    padding: 1em 3em;
    border-radius: 4px;
    width: 850px;
}

    .company-edit-container .heading {
        color: #fff;
        font-size: 30px;
        line-height: 44px;
        font-weight: 700;
        margin: 13px 0;
    }

.company-edit-form {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
}

    .company-edit-form > button[type=submit] {
        font-weight: 600;
        background-color: var(--color-primary);
        padding: 14px 25px 12px;
        color: #fff;
        border-radius: 5px;
        border: unset;
        font-size: 19px;
    }

.input-field input {
    color: #fff;
    width: 100%;
    background: var(--color-bg-dark);
    border-radius: 0.5em;
    padding: 1em 1.5em;
    font: small-caption;
    font-size: 16px;
    box-shadow: var(--shadow-border);
}

.input-field input:focus {
    box-shadow: var(--shadow-glow);
}

/*Mozilla*/
input[type=number] {
    -moz-appearance: textfield;
    /* ReSharper disable once InvalidValue */
    appearance: textfield;
    margin: 0;
}
/*Chrome*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}