/* Global styles go here. */

/* Be civil and keep this file as small as possible, please */

/* IF YOU CREATE A NEW SECTION, ADD IT TO THE INDEX! */

/**
 **************** INDEX ********************
 *
 *
 * 1. TYPOGRAPHY
 * 2. GENERAL GLOBAL STYLES
 * 3. HELPER CLASSES
 * 4. SITE HEADER
 * 5. INPUTS
 * 6. WP-POLLS
 */

/************* 1. TYPOGRAPHY *****************************/

@font-face {
  font-family: 'Axiforma';
  src: url('../../job finder/fonts/AxiForma/Axiforma-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: 'Axiforma';
  src: url('../../job finder/fonts/AxiForma/Axiforma-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: 'Axiforma';
  src: url('../../job finder/fonts/AxiForma/Axiforma-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: 'Axiforma';
  src: url('../../job finder/fonts/AxiForma/Axiforma-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: 'Axiforma';
  src: url('../../job finder/fonts/AxiForma/Axiforma-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: 'Axiforma';
  src: url('../../job finder/fonts/AxiForma/Axiforma-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: 'Axiforma';
  src: url('../../job finder/fonts/AxiForma/Axiforma-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: optional;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Axiforma, sans-serif;
  color: #595959;
  font-size: 14px;
  line-height: 140%;
  font-weight: 300;
  /*line-height: 23px;*/
  /* TODO: this is the correct value, we need to implement it when we're ready to test it */
  /*letter-spacing: 0.64px;*/
  /* TODO: this will need to be uncommented at one point, but the site needs to be thoroughly checked for overflowing stuff, when we do */
  /*font-weight: 400;*/
  /* TODO: this is the correct value, we need to implement it when we're ready to test */
}

h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6 {
  margin: 0;
}

h1,.h1 {
  font-size: 60px;
  font-weight: 900;
  line-height: 66px;
  /*letter-spacing: 1.2px;*/
}

h2,.h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 55px;
  letter-spacing: 1px;
}

h3,.h3 {
  font-size: 40px;
  font-weight: 700;
  line-height: 45px;
  letter-spacing: 1px;
}

h4,.h4 {
  font-size: 30px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 1px;
}

h5,.h5 {
  font-size: 20px;
  font-weight: 300;
  line-height: 33px;
}

h6,.h6 {
  font-size: 16px;
  font-weight: 700;
  line-height: 23px;
}

a {
  text-decoration: none;
}

/************* 2. GENERAL GLOBAL STYLES ******************/

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
  width: auto;
  height: auto;
}

.w-100 {
  width: 100%;
}

.mt-25 {
  margin-top: 25px;
}

/********** 3. HELPER CLASSES *************/

/* Apply this one to the body, for example when opening modal dialogs */

/* Rounds elements */

/* Makes text uppercase */

/* spaces out the letters in a title (or text). Used in some page titles */

/* Visually hides an element, but keeps it visible to screen readers */

/* creates an 'X' close button. You'll need to position it yourself though. */

/* adds a white background and a border radius to a section */

/* creates an absolute 100% width/height link overlay. Make sure its parent is relatively positioned */

/* A overlay that covers the whole page. */