.technology-all-container:hover .technology-card {
    opacity: 0.3;
    transition: all 0.3s ease-in-out;
}

    .technology-all-container:hover .technology-card:hover {
        opacity: 1;
    }

.technology-card:hover img {
    filter: grayscale(0) opacity(1);
}

.technology-all-container {
    margin: 4em auto;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
}

    .technology-all-container .technology-card {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 6px;
        border-radius: 5px;
        box-shadow: 0 3px 20px #00001A;
        line-height: 1;
        background: #111A39;
    }

    .technology-all-container img {
        filter: grayscale(1) opacity(0.5);
        transition: all 0.2s linear;
        object-fit: contain;
        width: 44px;
        height: 44px;
    }


.context-sub-menu,
.context-menu {
    position: fixed;
    background: #fff;
    z-index: 9999999;
    width: 120px;
    margin: 0;
    padding: 5px 0;
    border-radius: 2px;
    box-shadow: 0 0 6px rgba(0,0,0,0.2);
    font-size: 12px;
}

.context-menu .context-menu-item {
    color: black;
    height: 30px;
    display: flex;
    align-items: center;
    padding: 6px 10px;
    cursor: pointer;
    position: relative;
    border-bottom: 1px solid #f2f2f2;
}

.context-menu .context-menu-item span {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.context-menu-item:last-of-type {
    border-bottom: none;
}

.context-menu .context-menu-item:hover {
    background: #f2f2f2;
}

.context-menu .context-sub-menu {
    position: absolute;
    top: 0;
    left: 100%;
    display: none;
    width: 100px;
}

.context-menu .context-menu-item:hover > .context-sub-menu {
    display: block;
}

.context-menu.left .context-sub-menu {
    left: 0;
    transform: translateX(-100%);
}

.context-menu.top .context-sub-menu {
    top: 100%;
    transform: translateY(-100%);
}

.context-menu.left.top .context-sub-menu {
    transform: translate(-100%, -100%);
}