.button {
    display: inline-block;
    font-size: 16px;
    background-color: #304ffe;
    padding: 14px 25px 12px;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    transition: all 0.2s ease-in-out;
}

.button:hover {
    color: #fff;
}

.button.secondary {
    background-color: #EBF3FF;
    color: #374FFE;
}

.button.teal {
    background-color: #69F0AE;
    color: #231F20;
}

.button.warning {
    background-color: #C53A1E;
    color: white;
}

.button.hollow.warning {
    border-color: #C53A1E;
    color: #C53A1E;
}

.button.hollow.warning:hover {
    background-color: #FAE6E7;
}

.button.success {
    background-color: #28a745;
    color: white;
}

.button.disabled {
    background-color: #ADADAD;
    cursor: not-allowed;
    pointer-events: none;
}

.button.bold {
    font-weight: 500;
}

.button.thin,
.button.small-font.thin {
    padding: 8px 20px;
}

.button.long {
    padding: 17px 72px;
}

.button.small-font {
    font-size: 12px;
    padding: 17px 35px 15px;
}

.button.hollow {
    background: transparent;
    color: #304ffe;
    border: 1px solid #304ffe;
}

.button.hollow:hover {
    background-color: #EEF0FF;
}

.button.hollow.small {
    font-size: 14px;
    padding: 10px 15px;
    line-height: 14px;
}

.button.button-with-icon,
.button.button-with-count {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.button.button-with-icon>.button-icon {
    max-width: 1.9em;
    width: auto;
}

.button.loading {
    background-color: #ADADAD;
    font-size: 0;
    color: transparent;
    pointer-events: none;
    transition: font-size 0s, color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.button.loading::before {
    content: 'Моля изчакайте...';
    display: inline-block;
    font-size: 16px;
    color: #fff;
}

.locale_en_US .button.loading::before {
    content: 'Please wait...';
}

.button .count {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0 5px;
    padding: 5px 0;
    font-size: 16px;
    text-align: center;
    background-color: white;
    color: #304ffe;
    font-weight: 500;
    border-radius: 50%;
    line-height: 1.4;
}

/* Toggle button */

.button-toggle {
    content: '';
    display: inline-block;
    padding: 0;
    width: 39px;
    height: 23px;
    border: 1px solid #c4c4c4;
    border-radius: 23px;
    transition: all 0.2s ease-in-out;
    background-color: #c4c4c4;
    background-image: url(./../../images/circle-white.svg);
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.button-toggle.checked {
    background-color: #374FFE;
    border-color: #374FFE;
    background-position: right;
    transition: all 0.2s ease-in-out;
}

/* Small */

@media screen and (max-width: 950px) {
    .button {
        padding: 10px 11px 8px;
        font-size: 14px;
    }
}