<aside class="job-listing-aside aside-container">
	<div id="job-listing-aside-container">
		<div class="box miniboard-sidebar">
			<div class="filters-wrap">
				<div id="filter-job-location " class="component-filter">
					<div class="filter-head">
						<img src="https://dev.bg/wp-content/themes/jobsdevbg/images/icon-pin-hollow.svg"
							 class="icon" alt="Icon for the 'Откъде ще работя'">
						<h6 class="filter-name"> Job location </h6>
						<a class="filter-collapse">
							<img src="https://dev.bg/wp-content/themes/jobsdevbg/images/chevron.svg"
								 class="collapse-icon" alt="Collapse icon">
						</a>
					</div>
					<div class="filter-checkboxes component-filter">
						<div class="checkbox">
							<input type="checkbox" />
							<span class="display-value">Sofia</span>
							<span class="counter">454</span>
						</div>
						<div class="checkbox" data-value="remote">
							<input type="checkbox" />
							<span class="display-value">Fully Remote</span>
							<span class="counter">149</span>
						</div>
						<div class="checkbox">
							<input type="checkbox" />
							<span class="display-value">Varna</span>
							<span class="counter">57</span>
						</div>
						<div class="checkbox">
							<input type="checkbox" />
							<span class="display-value">Ruse</span>
							<span class="counter">10</span>
						</div>
						<div class="checkbox">
							<input type="checkbox" />
							<span class="display-value">Burgas</span>
							<span class="counter">9</span>
						</div>
						<div class="filter-overflow-checkboxes component-filter">
							<div class="filter-checkboxes">
								<div class="checkbox">
									<input type="checkbox" />
									<span class="display-value">Kazanlak</span>
									<span class="counter">5</span>
								</div>
								<div class="checkbox">
									<input type="checkbox" />
									<span class="display-value">Veliko Turnovo</span>
									<span class="counter">3</span>
								</div>
								<div class="checkbox">
									<input type="checkbox" />
									<span class="display-value">Gabrovo</span>
									<span class="counter">2</span>
								</div>
							</div>
						</div>
						<a class="more-toggle">See more</a>
					</div>
				</div>
				<div id="filter-seniority" class="component-filter">
					<div class="filter-head">
						<img src="https://dev.bg/wp-content/themes/jobsdevbg/images/icon-briefcase.svg"
							 class="icon" alt="Icon for the 'Откъде ще работя'">
						<h6 class="filter-name"> Seniority </h6>
						<a class="filter-collapse">
							<img src="https://dev.bg/wp-content/themes/jobsdevbg/images/chevron.svg"
								 class="collapse-icon" alt="Collapse icon">
						</a>
					</div>
					<div class="filter-checkboxes component-filter">
						<div class="checkbox">
							<input type="checkbox" />
							<span class="display-value">Junior / Intern</span>
							<span class="counter">13</span>
						</div>
						<div class="checkbox">
							<input type="checkbox" />
							<span class="display-value">1-2 years experience</span>
							<span class="counter">3</span>
						</div>
						<div class="checkbox">
							<input type="checkbox" />
							<span class="display-value">2-5 years experience</span>
							<span class="counter">67</span>
						</div>
						<div class="checkbox">
							<input type="checkbox" />
							<span class="display-value">5+ years experience</span>
							<span class="counter">10</span>
						</div>
						<div class="checkbox">
							<input type="checkbox" />
							<span class="display-value">Team Lead</span>
							<span class="counter">9</span>
						</div>
					</div>
				</div>
				<div id="filter-salary" class="component-filter-toggle">
					<div class="filter-head">
						<img src="https://dev.bg/wp-content/themes/jobsdevbg/images/icon-money.svg" class="icon"
							 alt="Icon for the 'Само обяви със заплати'">
						<h6 class="filter-name"> Only offers with salary </h6>
						<div class="facetwp-facet " data-name="salary"
							 data-type="checkboxes">
							<div class="facetwp-checkbox" data-value="1">
								<input id="salary-filter-slide_checkbox" type="checkbox" />
							</div>
						</div>
					</div>
				</div>
				<div id="filter-paid-leave" class="component-filter">
					<div class="filter-head">
						<img src="https://dev.bg/wp-content/themes/jobsdevbg/images/icon-calendar.svg"
							 class="icon" alt="Icon for the 'Откъде ще работя'">
						<h6 class="filter-name"> Paid leave </h6>
						<a class="filter-collapse">
							<img src="https://dev.bg/wp-content/themes/jobsdevbg/images/chevron.svg"
								 class="collapse-icon" alt="Collapse icon">
						</a>
					</div>
					<div class="filter-checkboxes component-filter">
						<div class="checkbox">
							<input type="checkbox" />
							<span class="display-value">20 days</span>
							<span class="counter">50</span>
						</div>
						<div class="checkbox">
							<input type="checkbox" />
							<span class="display-value">21-25 days</span>
							<span class="counter">74</span>
						</div>
						<div class="checkbox">
							<input type="checkbox" />
							<span class="display-value">25+ days</span>
							<span class="counter">33</span>
						</div>
					</div>
				</div>
				<div id="filter-it-employees-cnt" class="component-filter">
					<div class="filter-head">
						<img src="https://dev.bg/wp-content/themes/jobsdevbg/images/icon-person.svg"
							 class="icon" alt="Icon for the 'Откъде ще работя'">
						<h6 class="filter-name"> IT team size </h6>
						<a class="filter-collapse">
							<img src="https://dev.bg/wp-content/themes/jobsdevbg/images/chevron.svg"
								 class="collapse-icon" alt="Collapse icon">
						</a>
					</div>
					<div class="filter-checkboxes component-filter">
						<div class="checkbox">
							<input type="checkbox" />
							<span class="display-value">1-9</span>
							<span class="counter">24</span>
						</div>
						<div class="checkbox">
							<input type="checkbox" />
							<span class="display-value">10-30</span>
							<span class="counter">28</span>
						</div>
						<div class="checkbox">
							<input type="checkbox" />
							<span class="display-value">31-70</span>
							<span class="counter">27</span>
						</div>
						<div class="checkbox">
							<input type="checkbox" />
							<span class="display-value">70+</span>
							<span class="counter">70</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</aside>