@using Microsoft.AspNetCore.Identity
@using DevHunter.Data.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div class="login-register-cta">
	@if (SignInManager.IsSignedIn(User))
	{
		<a class="" asp-area="" asp-controller="User" asp-action="Manage">Hello @User.Identity?.Name!</a>
		<form class="" asp-area="" asp-controller="User" asp-action="Logout" asp-route-returnUrl="@(Context.Request.Path + Context.Request.QueryString)" method="post">
			<button type="submit" class="">Logout</button>
		</form>
	}
	else
	{
		<a asp-area="" asp-controller="User" asp-action="Login">Log In.</a>
		<a asp-area="" asp-controller="User" asp-action="Register">Register.</a>
	}
</div>