@using Microsoft.AspNetCore.Identity
@using DevHunter.Data.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div class="login-register-cta">
	@if (SignInManager.IsSignedIn(User))
	{
		//Hello @User.Identity?.Name!
		<a class="user-manage-icon" asp-area="" asp-controller="Account" asp-action="Manage">HI</a>
		<form asp-area="" asp-controller="Account" asp-action="Logout" asp-route-returnUrl="@(Context.Request.Path + Context.Request.QueryString)" method="post">
			<button type="submit" class="last-btn">Logout</button>
		</form>
	}
	else
	{
		<a asp-area="" asp-controller="Account" asp-action="Login" >Log In.</a>
		<a class="last-btn" asp-area="" asp-controller="Account" asp-action="RegisterOption">Register.</a>
	}

</div>