.component-reklama {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 15px;
}

.component-reklama.hidden {
    display: none;
}

.component-reklama.html-reklama {
    position: relative;
}

.component-reklama .html-reklama-link {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    height: calc( 100% - 20px);
}

.component-reklama .reklama-info-label {
    font-size: 12px;
    color: #595959;
    text-decoration: underline;
    margin-bottom: 2px;
}

.component-reklama .reklama-image {
    border-radius: 5px;
    width: 100%;
    /* Note: Max width is set inline on this element, inside the component. */
}

@media screen and (max-width: 950px) {
    .component-reklama {
        align-items: center;
    }
}