.component-square-badge:not(.clickable),
.component-square-badge.clickable a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    min-height: 32px;
    padding: 3px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 3px 20px #0000001A;
    line-height: 1;
}

.component-square-badge img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.component-square-badge.no-image:not(.clickable),
.component-square-badge.no-image.clickable>a,
.component-square-badge.show-both:not(.clickable),
.component-square-badge.show-both.clickable>a {
    width: auto;
    padding: 7px 10px 6px;
    font-size: 14px;
    color: #595959;
    justify-content: flex-start;
    overflow: hidden;
}

.component-square-badge.show-both:not(.clickable),
.component-square-badge.show-both.clickable>a {
    gap: 5px;
}

.component-square-badge.show-both:not(.clickable)>img,
.component-square-badge.show-both.clickable a>img {
    margin-top: -1px;
    width: 19px;
    height: 19px;
}

.component-square-badge.no-image .title {
    line-height: 1.2;
}

.component-square-badge .archive-link {
    color: inherit;
}

/* Medium & down */

@media screen and (max-width: 1200px) {
    .component-square-badge:not(.clickable),
    .component-square-badge.clickable>a {
        width: 28px;
        min-height: 28px;
    }
}