@{
	ViewData["Title"] = "Home Page";
}

<h2 class="admin-heading">Hello, Admin!</h2>
<div class="admin-wrapper">

	<div class="admin-actions">
		<a class="action" asp-area="Admin" asp-controller="Company" asp-action="All">All companies</a>
		<a class="action" asp-area="Admin" asp-controller="Technology" asp-action="All">All technologies</a>
		<span> | </span>
		<a class="action" asp-area="Admin" asp-controller="Account" asp-action="All">All users</a>
		<span> | </span>
		<a class="action" asp-area="Admin" asp-controller="Technology" asp-action="Add">Add technology</a>
		<a class="action" asp-area="Admin" asp-controller="Development" asp-action="Add">Add development</a>
	</div>
</div>


@section Styles {
	<link href="~/css/admin/dashboard.css" rel="stylesheet" />
}
