<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="test2.css">
</head>
<body>

<div class="container">
    <div class="category-container">
        <div class="inner-circle">
            <img src="backend.png" alt=""/>
            <div class="category-image outer-circle"></div>
        </div>
        <svg class="background-element vector" width="1020" height="902" viewBox="0 0 1020 902" fill="none"
             xmlns="http://www.w3.org/2000/svg">
            <g filter="url(#filter0_f_0_917)">
                <path d="M510 686.609C672.924 686.609 805 581.074 805 450.89C805 320.706 672.924 215.171 510 215.171C347.076 215.171 215 320.706 215 450.89C215 581.074 347.076 686.609 510 686.609Z"
                      fill="#10004E"></path>
            </g>
            <defs>
                <filter id="filter0_f_0_917" x="0" y="0.170532" width="1020" height="901.438"
                        filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
                    <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"></feBlend>
                    <feGaussianBlur stdDeviation="107.5" result="effect1_foregroundBlur_0_917"></feGaussianBlur>
                </filter>
            </defs>
        </svg>
    </div>
    <div class="content">
        <h1 class="category-name">Backend Development</h1>
        <div class="description">
            <!--            Search for your desired Backend Development job in Sofia among 404 offered ads (105 new). Filter-->
            <!--            ads by selected criteria and find the right internship, entry-level or advanced Backend Development position-->
            <!--            developer.-->
            <!--            The best offers in Sofia for work with Backend Development are here - apply quickly.-->
        </div>
    </div>

    <section class="background">
        <div class="background-circle"></div>
        <svg class="custom-vector" width="192" height="193" viewBox="0 0 192 193" fill="none"
             xmlns="http://www.w3.org/2000/svg">
            <path d="M0.729874 1L0.729863 265M37.2241 1L37.2241 265M72.2586 1L72.2586 265M108.753 1L108.753 265M145.247 1L145.247 265M181.741 1L181.741 265M216.776 1L216.776 265M253.27 1L253.27 265M254 1.00002L0 1M254 38.7143L0 38.7143M254 76.4286L0 76.4286M254 114.143L0 114.143M254 151.857L0 151.857M254 189.571L0 189.571M254 227.286L0 227.286M254 265L0 265"
                  stroke="url(#paint0_radial_0_1058)" stroke-width="0.35"></path>
            <defs>
                <radialGradient id="paint0_radial_0_1058" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
                                gradientTransform="translate(127 133) rotate(90) scale(132 127)">
                    <stop stop-color="#004DFF"></stop>
                    <stop offset="1" stop-color="#000614"></stop>
                </radialGradient>
            </defs>
        </svg>
    </section>
</div>
</body>
</html>