<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Business Growth</title>
    <!--    <link rel="stylesheet" href="css/site.css">-->
    <link rel="stylesheet" href="test.css">
</head>

<body>

<div class="container">
    <header><p>General enquiries</p></header>
    <form method="post">
        <div>
            <label>Name</label>
            <input type="text" name="name" placeholder="John Doe"/>
        </div>
        <div>
            <label>Email</label>
            <input type="email" name="email" placeholder="johndoe@gmail.com"/>
        </div>
        <div>
            <label>Message</label>
            <textarea name="message"></textarea>
        </div>

        <button class="submit-btn">Send Message</button>
    </form>
</div>

</body>

</html>
