<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>

<body>

    <table>
        <thead>
            <tr>
                <th rowspan="2"></th>
                <th>Name</th>
                <th>Age</th>
                <th rowspan="2">some text</th>
            </tr>
            <tr>
                <th colspan="2">3</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Family</td>
                <td>Jill</td>
                <td>Smith</td>
                <td>43</td>
            </tr>
            <tr>
                <td>Another</td>
                <td>Jackson</td>
                <td>57</td>
                <td>5747</td>
            </tr>
        </tbody>
    </table>

</body>

</html>