* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    background: #000614;
    padding: 5em;
}



.container {
    position: relative;
    display: flex;
    padding: 0;
    gap: 58px;
    background: linear-gradient(270deg,rgba(0, 0, 88, 0.10) 0%, rgba(255, 255, 255, 0) 100%);
    border-radius: 8px;
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;


    .background {

        .background-circle {
            position: absolute;
            background: #010149;
            border-radius: 50%;
            width: 12.4em;
            height: 12.4em;
            bottom: 0;
            right: 0;
            filter: blur(8em);
        }
        .custom-vector {
            overflow: hidden;
            position: absolute;
            width: 15em;
            bottom: 0;
            right: 0;
            height: 14em;
        }
    }
}

.category-container {
    background: linear-gradient(270deg,rgba(0, 0, 88, 0.10) 0%, rgba(255, 255, 255, 0) 100%);
    border-radius: 50%;
    background: #F6F6F6;
    position: relative;
    img {
        scale: 0.9;
    }

    .category-image {
        flex: 0 0 auto;
        /*box-shadow: inset 0 0 0 1px rgba(0, 0, 73, 1.00),*/
        /*0 0 26px -3px rgba(0, 102, 255, 0.25);*/
        border-radius: 50%;
        /*background: #0C0C0E;*/
    }

    .outer-circle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        border-radius: 50%;
        -webkit-text-fill-color: transparent;
        background: linear-gradient(90deg,rgb(0 0 255 / 10%) 0%, rgb(255 0 0 / 0%) 100%);
        /*box-shadow: 0 0 48px -20px #000000;*/
        width: 120%;
        height: 120%;
        z-index: -1;
    }
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .category-name {
        font-size: 56px;
        background: radial-gradient(1779.2% 193.77% at 21.33% -10.76%, #E5E4E6 22.6%, rgba(255, 255, 255, 0.00) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .description {
        font-size: 14px;
        color: #8b8b8b;
        width: 80%;
    }
}