* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

.ellipse-4 {
    background: var(--tg-primary-blue, #02174c);
    border-radius: 50%;
    width: 402px;
    height: 402px;
    position: absolute;
    left: calc(50% - 201px);
    top: 302px;
    filter: blur(200px);
}

.our-vision {
    background: var(--text-radial, radial-gradient(1779.2% 193.77% at 21.33% -10.76%, #E5E4E6 22.6%, rgba(255, 255, 255, 0.00) 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: left;
    font: 700 48px "Satoshi-Bold", sans-serif;
    position: absolute;
    left: calc(50% - 117px);
    top: 336px;
}

.rectangle-1 {
    background: var(--tg-primary-pink, #cc338b);
    width: 157px;
    height: 47px;
    position: absolute;
    left: 820px;
    top: 448px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.rectangle-2 {
    background: var(--tg-primary-pink, #cc338b);
    width: 130px;
    height: 47px;
    position: absolute;
    left: 1210px;
    top: 448px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.text {
    color: #e5e4e6;
    text-align: center;
    font: 700 40px/142% "Satoshi-Bold", sans-serif;
    position: absolute;
    left: calc(50% - 441px);
    top: 441px;
    width: 881px;
}

.header-style {
    background: var(--text-radial, radial-gradient(1779.2% 193.77% at 21.33% -10.76%, #E5E4E6 22.6%, rgba(255, 255, 255, 0.00) 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
