@model IEnumerable<DevHunter.Web.ViewModels.Technology.TechnologyViewModel>

<div class="technology-all-container">
	@foreach (var image in Model)
	{
		<div class="technology-card">
			<img src="@image.ImageUrl" title="@image.Name" />
		</div>
	}
</div> 