@model FormMessageModel

@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="contact-container">
	<div class="img-container">
		<img src="~/imgs/getin-touch-green.png">
	</div>
	<div class="contact-form-container">
		<header>
			<h2>We are here to help! Tell us more.</h2>
		</header>
		<form asp-controller="Home" asp-action="Contact" class="contact-form" method="post">
			<div class="input-field two-columns">
				<input asp-for="Name" type="text" placeholder="Name"/>
				<input asp-for="From" type="email"  placeholder="Email"/>
			</div>
			<div class="input-field">
				<input asp-for="Subject" type="text" placeholder="Theme"/>
			</div>
			<div class="input-field">
				<textarea asp-for="Content" placeholder="Message"></textarea>
			</div>
			<div class="actions">
				<button class="action submit-btn" type="submit">Submit</button>
				<button class="action" type="reset">Cancel</button>
			</div>
		</form>
	</div>
</div>

@section Styles {
	<link href="~/css/contact/styles.css" rel="stylesheet" />
}