@model ErrorViewModel

<div class="error-code-container">
	<h1 class="error-code">@Model.StatusCode</h1>
	<p class="error-msg">@Model.Error</p>
</div>

@section Styles {
	<link rel="stylesheet" href="~/css/pages/error.css" asp-append-version="true" />
}
