.site-header > .site-title {
    margin: 0.5em 0;
}

.site-full-name {
    color: #E5E4E6;
}

.site-title p {
    font-family: 'Satoshi-Bold', sans-serif;
    font-size: 1.6em;
}

.site-title span {
    color: #000614;
    background: #E5E4E6;
    padding: 0.2em 0.4em;
    border-radius: 0.4em;
    margin-right: 0.3em;
}

.main-nav ul {
    display: flex;
    gap: 1em;
}

    .main-nav ul li,
    .main-nav ul li a {
        display: block;
        font-size: 1.1em;
    }

.main-nav a {
    font-family: Satoshi-Bold, sans-serif;
    padding: 0.5em 1em;
    color: #7D7D7D;
}

    .main-nav a:hover {
        color: #E5E4E6;
        transition: ease-in 400ms;
    }

.main-nav ul {
    border: 2px solid #000058;
    border-radius: 4em;
    box-shadow: 0 0 0 2px #4056C0 inset, 0 0 26px 3px rgba(0, 102, 255, 0.25);
    backdrop-filter: blur(12px);
    padding: 0.3em 0.4em;
}

.main-nav.admin ul {
    border: unset;
    box-shadow: unset;
}

.login-register-cta {
    display: flex;
    align-items: center;
    gap: 0.6em;
}

.login-register-cta div,
.login-register-cta a,
.login-register-cta form button {
    font-family: Satoshi-Bold, sans-serif;
    display: inline-block;
    padding: 0.6em 0.9em;
    border-radius: 4em;
    font-size: 20px;
}

.login-register-cta form button {
    font-size: 19px;
}

.login-register-cta a {
    color: #E5E4E6;
    border: 2px solid #000058;
    box-shadow: 0 0 0 3px #4056C0 inset, 0 0 26px -3px rgba(0, 102, 255, 0.25);
    backdrop-filter: blur(12px);
}

.login-register-cta form button {
    color: #0C0C0E;
}

    .login-register-cta .last-btn {
        color: #0C0C0E;
        background: #fff;
        box-shadow: unset;
    }

.login-register-cta > * {
    cursor: pointer;
}



.site-content {
    display: flex;
    justify-content: flex-start;
    flex: 1;
}

.left-aside-nav {
    display: block;
    position: relative;
    /* ReSharper disable once HexColorValueWithAlpha */
    background: #00005857;
    overflow: hidden;
    padding: 55px 0 0 45px;
    min-width: 375px;
}

    .left-aside-nav::after {
        content: '';
        display: block;
        background: blue;
        position: absolute;
        width: 50px;
        height: 100%;
        top: 0;
        right: 0;
        filter: blur(7em);
        z-index: -1;
    }

.left-aside-nav ul {
    list-style-type: none;
    padding-left: 0;
    margin: 10px 0;
}

.left-aside-nav ul li {
    display: flex;
    align-items: center;
    padding: 24px 25px 20px;
    font-size: 16px;
    width: fit-content;
    border-radius: 10px;
    transition: all 0.2s ease-in;
}

.left-aside-nav ul li a {
    color: #fff;
}