@model IEnumerable<DevHunter.Web.ViewModels.JobOffer.JobOfferAllViewModel>

<div class="jobs jobs-container">
	@foreach (var jobOffer in Model)
	{
		<partial name="_JobOfferPartial" model="@jobOffer" />
	}
</div>