@model DevHunter.Web.ViewModels.CompanyDetailViewModel

<div class="container-with-sidebar left-sidebar">
    <aside class="company-sidebar sidebar-container">
        <div class="sidebar-nav-list">
            <a href="#for-the-company" class="sidebar-nav-item">About</a>
            <a href="#how-we-work" class="sidebar-nav-item">How we work</a>
            <a href="#other-info" class="sidebar-nav-item">Other info</a>
            <a href="#contacts" class="sidebar-nav-item">Contacts</a>
            <a href="#jobs" class="sidebar-nav-item jobs">Jobs<span class="jobs-number-cnt">56</span></a>
        </div>
    </aside>

    <div class="content-container">
        <div class="company-box">
            <div class="company-logo">
                <img width="114" height="40"
                     src="../../imgs/company.png"
                     class="company-logo wp-post-image" alt="" decoding="async" loading="lazy"
                     sizes="(max-width: 114px) 100vw, 114px">
            </div>
            <div class="company-name-holder">
                <h1>Draft Kings</h1>
                <a href="#jobs" class="company-scroll-to-job button-with-icon">
                    Виж IT обявите от EPAM <span class="jobs-cnt">3</span>
                </a>
            </div>
        </div>
        <div id="for-the-company" class="detail-box">
            <header class="box-heading"><h2>About the company</h2></header>

            <div class="business-card">
                <p>
                    Ние помагаме на нашите клиенти да преоткрият бизнеса си през призмата на
                    цифровите технологии.
                </p>
                <p>
                    Наследството ни в създаването на софтуер, комбинирано със стратегически и новаторски
                    консултантски услуги, “design thinking”, както и опитът ни с цифрови и физически продукти,
                    изграждат фокусирани върху хората иновативни решения.
                </p>
                <p>
                    <strong>EPAM</strong> e глобален лидер в разработването на софтуер, дигитални платформи и услуги.
                    Онова, на което държим най-много, е положителният принос към нашите клиенти, колеги и
                    общностите, в които работим. Привърженици сме на идеята за динамична и приобщаваща култура. Тук
                    ще работите в международни екипи, ще можете да участвате в редица новаторски проекти – проекти,
                    които предоставят решения от най-ново поколение, както и да учите и да се развивате през цялото
                    време.
                </p>
                <p>
                    Където и да се намирате, с нас ще се присъедините към отдадена, изобретателна и многообразна
                    общност, която ще ви помага да разгръщате пълния си потенциал.
                </p>
            </div>
            <div class="company-info icons">
                <div class="info-with-icon">
                    <div class="icon">
                        <img src="https://dev.bg/wp-content/themes/jobsdevbg/images/icons-10.svg"
                             alt="" class="icon-s">
                    </div>
                    <h3 class="info-title">Activities</h3>
                    <p class="info">
                        ИТ консултиране на цялостни бизнес решения.
                        Дизайн, изграждане и внедряване на софтуерни системи.
                    </p>
                </div>
                <div class="info-with-icon">
                    <div class="icon">
                        <img src="https://dev.bg/wp-content/themes/jobsdevbg/images/icons-14.svg" alt=""
                             class="icon-s">
                    </div>
                    <h3 class="info-title">Sector</h3>
                    <p class="info">ИТ – разработка и поддръжка на софтуер</p>
                </div>
                <div class="info-with-icon">
                    <div class="icon">
                        <img src="https://dev.bg/wp-content/themes/jobsdevbg/images/icons-18.svg" alt=""
                             class="icon-s">
                    </div>
                    <h3 class="info-title">Central Office</h3>
                    <p class="info">Нютаун (Пенсилвания), САЩ</p>
                </div>
            </div>
            <div class="company-info">
                <div class="box-info">
                    <p class="info-type">Year of establishment:</p>
                    <p class="info-value">1993</p>
                </div>
                <div class="box-info">
                    <p class="info-type">Global workforce:</p>
                    <p class="info-value">61 300+</p>
                </div>
                <div class="box-info">
                    <p class="info-type">When did the office in Bulgaria start?</p>
                    <p class="info-value">2014</p>
                </div>
                <div class="box-info">
                    <p class="info-type">Employees in Bulgaria:</p>
                    <p class="info-value">400+</p>
                </div>
                <div class="box-info">
                    <p class="info-type">Offices in Bulgaria</p>
                    <p class="info-value">София, Пловдив, Бургас и Варна</p>
                </div>
                <div class="box-info">
                    <p class="info-type">IT department employees in Bulgaria:</p>
                    <p class="info-value">400+</p>
                </div>
            </div>

        </div>
        <div id="how-we-work" class="detail-box">
            <header class="box-heading"><h2>How we work</h2></header>
            <div class="company-info icons">
                <div class="info-with-icon">
                    <div class="icon">
                        <img src="https://dev.bg/wp-content/themes/jobsdevbg/images/icons-26.svg" alt="" class="icon-s">
                    </div>
                    <h3 class="info-title">Annual leave</h3>
                    <p class="info">25 days of annual leave.</p>
                </div>
                <div class="info-with-icon">
                    <div class="icon">
                        <img src="https://dev.bg/wp-content/themes/jobsdevbg/images/icons-34.svg" alt="" class="icon-s">
                    </div>
                    <h3 class="info-title">Work from home</h3>
                    <p class="info">Opportunity for remote work in accordance with project dynamics and workload.</p>
                </div>
                <div class="info-with-icon">
                    <div class="icon">
                        <img src="https://dev.bg/wp-content/themes/jobsdevbg/images/icons-30.svg" alt="" class="icon-s">
                    </div>
                    <h3 class="info-title">Flexible working hours</h3>
                    <p class="info">Flexible working hours according to team dynamics and project workload.</p>
                </div>
            </div>
        </div>
        <!--        <div id="technologies" class="detail-box"></div>-->
        <div id="other-info" class="detail-box">
            <header class="box-heading"><h2>Additional information</h2></header>
            <div class="additional-info">
                <p><strong>Ключовите продукти и услуги на компанията са:</strong></p>
                <p>
                    ЕПАМ развива активно софтуерни продукти за своите международни клиенти с експертиза в сферата на
                    банковите услуги, хотелиерството, фармацефтичната и филмовата индустрия, логистиката и много
                    други.
                </p>
                <p><strong>В какво вярваме:</strong></p>
                <ul>
                    <li>Креативност</li>
                    <li>Професионализъм</li>
                    <li>Оригиналност</li>
                    <li>Интелект</li>
                    <li>Честност и коректност</li>
                </ul>
            </div>
        </div>
        <div id="contacts" class="detail-box">
            <header class="box-heading"><h2>Contacts</h2></header>
            <div class="company-info icons">
                <div class="info-with-icon">
                    <div class="icon">
                        <img src="https://dev.bg/wp-content/themes/jobsdevbg/images/icons-22.svg" alt="" class="icon-s">
                    </div>
                    <h3 class="info-title">Address</h3>
                    <p class="info">Офис София, ул. Кукуш 1</p>
                </div>
                <div class="info-with-icon">
                    <div class="icon">
                        <img src="https://dev.bg/wp-content/themes/jobsdevbg/images/icons-58.svg" alt="" class="icon-s">
                    </div>
                    <h3 class="info-title">Website</h3>
                    <a href="https://www.a1.bg/" target="_blank" rel="nofollow">https://www.a1.bg/</a>
                </div>
            </div>
        </div>
        <div id="jobs" class="jobs-holder">
            <h2 class="heading">Обяви за работа в EPAM <span class="jobs-number-heading">(13)</span></h2>
            <div class="jobs jobs-container">
                <div class="job-list-item">
                    <div class="company-logo-wrap">
                        <!--                    TODO: try to remove attributes-->
                        <img width="120" height="19"
                             src="../../imgs/company.png"
                             class="company-logo" decoding="async"
                             sizes="(max-width: 120px) 100vw, 120px">
                        <span class="company-name"></span>
                    </div>
                    <div class="listing-content-wrap">
                        <span class="save-job-container">
                            <button class="save-cta">
                                <span class="label label-save">Save</span>
                                <span class="label label-saved"></span>
                                <span class="icon save-icon"></span>
                            </button>
                        </span>
                        <div class="title-date-wrap">
                            <h6 class="job-title">Senior Full Stack Engineer</h6>
                            <span class="date date-with-icon">26 Jan.</span>
                        </div>
                        <div class="component-footer">
                            <div class="tags-wrap">
                                <span class="badge hybrid has-tooltip">
                                    <img class="tooltip-img" src="../../imgs/pin.png" width="12" height="20" alt="София" />
                                    Sofia
                                    <span class="suffix-hybrid">
                                        <img src="../../svgs/icon-green-hybrid.svg" />
                                        Hybrid
                                    </span>
                                </span>
                                <span class="badge green remote">
                                    <img src="https://dev.bg/wp-content/themes/jobsdevbg/images/remote-green.svg"
                                         alt="Fully Remote job icon" width="20" height="15"> Fully Remote
                                </span>
                                <div class="badge salary">
                                    <img class="salary-icon" src="../../svgs/icon-neto.svg" />
                                    6 500 - 10 000 lv.
                                </div>
                            </div>
                            <div class="tech-stack-wrap">
                                <div class="tech-square-badge tech-stack-item">
                                    <img width="50" height="56" src="../../imgs/angular-logo.png"
                                         class="attachment-medium size-medium" alt="" decoding="async" loading="lazy"
                                         title="C++"
                                         sizes="(max-width: 50px) 100vw, 50px">
                                </div>
                                <div class="tech-square-badge tech-stack-item">
                                    <img width="50" height="56" src="../../imgs/angular-logo.png"
                                         class="attachment-medium size-medium" alt="" decoding="async" loading="lazy"
                                         title="C++"
                                         sizes="(max-width: 50px) 100vw, 50px">
                                </div>
                                <div class="tech-square-badge tech-stack-item">
                                    <img width="50" height="56" src="../../imgs/angular-logo.png"
                                         class="attachment-medium size-medium" alt="" decoding="async" loading="lazy"
                                         title="C++"
                                         sizes="(max-width: 50px) 100vw, 50px">
                                </div>
                                <div class="tech-square-badge tech-stack-item">
                                    <img width="50" height="56" src="../../imgs/angular-logo.png"
                                         class="attachment-medium size-medium" alt="" decoding="async" loading="lazy"
                                         title="C++"
                                         sizes="(max-width: 50px) 100vw, 50px">
                                </div>
                                <div class="tech-square-badge tech-stack-item">
                                    <img width="50" height="56" src="../../imgs/angular-logo.png"
                                         class="attachment-medium size-medium" alt="" decoding="async" loading="lazy"
                                         title="C++"
                                         sizes="(max-width: 50px) 100vw, 50px">
                                </div>
                                <div class="tech-square-badge tech-stack-item">
                                    <img width="50" height="56" src="../../imgs/angular-logo.png"
                                         class="attachment-medium size-medium" alt="" decoding="async" loading="lazy"
                                         title="C++"
                                         sizes="(max-width: 50px) 100vw, 50px">
                                </div>
                                <span class="more-count">+5 more</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
	<link href="~/css/company/styles.css" rel="stylesheet" />
}

@section Scripts {
	<script src="~/js/company/sidebar.js"></script>
}