@model LoginFormModel

@{
	ViewData["Title"] = "Log in to DevHunter";
}

<div class="login-container">
	<div class="login-wrapper">

		<form asp-controller="Account" asp-action="Login" class="site-login-form" method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger error_messsage"></div>
			<h1 class="heading">@ViewData["Title"]</h1>
			<div class="input-field">
				<input asp-for="Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Email"/>
				<span asp-validation-for="Email" class="text-danger error_messsage"></span>
			</div>
			<div class="input-field">
				<input asp-for="Password" class="form-control" aria-required="true" placeholder="Password"/>
				<span asp-validation-for="Password" class="text-danger error_messsage"></span>
			</div>
			<button type="submit" class="submit-btn">Sign in</button>
		</form>
		<footer>
			<div class="separator">Don't have an DevHunter account?</div>
			<a asp-area="" asp-controller="Account" asp-action="RegisterOption" class="cta">Sign Up</a>
		</footer>
	</div>
	<div class="background-elements">
		<div class="ellipse-26"></div>
		<div class="ellipse-26"></div>
	</div>
</div>

@section Styles {
	<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
}

@section Scripts {
	<script src="~/js/login-register-bg-rm.js"></script>
	<partial name="_ValidationScriptsPartial" />
}
