@model AllJobOffersQueryModel

<div class="job-listing-category-container">
	<header class="job-listing-category-header">
		<div class="outer-circle">
			<div class="inner-circle">
				<img width="180" height="180" src="@Model.Development.ImageUrl" loading="lazy" />
			</div>
		</div>
		<div class="miniboard">
			<h1 class="title"><span>@Model.Development.Name</span> job openings</h1>
			<p class="description">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci cumque
				laboriosam modi perspiciatis quae quam quasi quia ratione, tempora? Ad aliquid at autem beatae commodi
				cumque dicta dolor dolore ducimus esse expedita facilis hic id inventore magni minima molestiae
			</p>
		</div>
	</header>
	<main class="job-listing-category-main job-listing-container-with-sidebar left-sidebar">

		<partial name="_AsidePartial" model="Model.Filters" />

		<div id="job-offer-container" class="jobs jobs-container">
			@foreach (var jobOffer in Model.JobOffers)
			{
				<partial name="_JobOfferPartial" model="@jobOffer" />
			}
		</div>
	</main>
</div>

@section Scripts {
	<script src="~/js/joboffer-partial.js"></script>
	<script src="~/js/job-offer-all-aside.js"></script>
	<script src="~/js/filter-job-offers.js"></script>
}
