@model AllJobOffersQueryModel

<header class="search-heading">
	<h1>Found <span class="search-cnt">@Model.JobOffers.Count()</span> with keyword <span class="search-text">@Model.SearchString</span> </h1>
	<div class="header-search">
		<form asp-area="" asp-controller="JobOffer" asp-action="AllSearch" class="search" method="get">
			<input placeholder="Find Your Dream Job here..." type="search" name="search" />
			<input type="submit" value="search" />
		</form>
	</div>
</header>
<div class="job-listing-category-container">
	<main class="job-listing-category-main">
		<div class="jobs jobs-container">
			@foreach (var jobOffer in Model.JobOffers)
			{
				<partial name="_JobOfferPartial" model="@jobOffer" />
			}
		</div>
	</main>
</div>

@section Styles {
	<link href="~/css/search-job-offer.css" rel="stylesheet" />
}

@section Scripts {
	<script src="~/js/joboffer-partial.js"></script>
}